#images {
    width: 100%;
    min-height: 350px;
    border: 1px solid black;
    position: relative;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
    flex-wrap: wrap;

    align-items: center;
    font-weight: bold;
    font-size: x-large;
    color: #444444;
}

figure {
    width: 25%;
}

img{
    width: 100%;
}

figcaption{
    text-align: center;
    font-size: 2.5vmin;
    margin-top: 0.5vmin;
}