{% extends 'layout.html' %}

{% block title %}Face Capture{% endblock %}

{% block content %}
<div id="layoutSidenav">
    <div id="layoutSidenav_nav">
        <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
            <div class="sb-sidenav-menu">
                <div class="nav">
                    <div class="sb-sidenav-menu-heading">Step 2 of 5</div>
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%"></div>
                    </div>
                    <a class="nav-link" href="faq.html">
                        <div class="sb-nav-link-icon"><i class="fas fa-book-open"></i></div>
                        FAQ
                    </a>
                </div>
            </div>
            <div class="sb-sidenav-footer">
                <div class="small">Logged in as:</div>
                {{session.name}}
            </div>
        </nav>
    </div>
    <div id="layoutSidenav_content">
        <main>
            <div class="container-fluid px-4">
                {% with messages = get_flashed_messages() %}
                    {% for message in messages %}
                        {% with errors = get_flashed_messages(category_filter=["face_error"]) %}     
                            {% if errors %}
                                <div class="alert alert-danger alert-dismissible fade show mt-3" role="alert">
                                    {{ message }}
                                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                </div>
                            {% else %}
                                <div class="alert alert-success alert-dismissible fade show mt-3" role="alert">
                                    {{ message }}
                                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                </div>
                            {% endif %}
                        {% endwith %}
                    {% endfor %}
                {% endwith %}      
                <div class="row">
                    <div class="col-xl-2"></div>
                    <div class="col-xl-8">
                        <h1 class="mt-1 text-center">FACE CAPTURE</h1>
                    </div>
                    <div class="col-xl-2 mt-3">
                        <form method="post" action="{{ url_for('student.instruction') }}">
                            <input type="image" src="{{ url_for('student.static', filename='assets/other_img/circle_right.png') }}" class="float-end" width="45" height="45">
                        </form>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-3">
                        <div class="text-start">
                            <h3 class="text-center mt-2">INSTRUCTIONS</h3>
                            <ol class="mt-1">
                                <li>Click on <strong>Start Camera</strong> button to enable webcam access.</li>
                                <li>Please look towards the webcam.</li>
                                <li>Make sure to fit your entire face within the frame.</li>
                                <li>Click on <strong>Capture</strong> button to capture.</li>
                                <li>Ensure that the captured image is clear and sharp.</li>
                                <li>You may proceed upon successful capture.</li>
                            </ol>
                        </div>
                    </div>
                    <div class="col-xl-1"></div>
                    <div class="col-xl-4" >
                        <div class="text-center">
                            <button class="btn btn-outline-dark" id="start-camera">Start Camera</button><br>
                            <video class="mt-2" id="video" width="65%" height="auto" autoplay></video><br>
                            <button class="btn btn-outline-dark mt-1" id="click-photo">Capture</button><br>
                            <canvas class="border border-dark mt-1" id="canvas" width="200%" height="160%"></canvas>
                        </div>
                    </div>
                    <div class="col-xl-1"></div>
                    <div class="col-xl-3">
                        <div class="text-center">
                            <h3 class="mt-2">GUIDELINES</h3>
                            <img src="{{ url_for('student.static', filename='assets/other_img/face.png') }}" class="rounded mx-auto d-block mt-4">
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <footer class="py-4 bg-light mt-auto">
            <div class="container-fluid px-4">
                <div class="d-flex align-items-center justify-content-between small">
                    <div class="text-muted">Copyright &copy; Your Website 2022</div>
                    <div>
                        <a href="#">Privacy Policy</a>
                        &middot;
                        <a href="#">Terms &amp; Conditions</a>
                    </div>
                </div>
            </div>
        </footer>
    </div>
</div>
<script>
    let video = document.querySelector("#video");
    let camera_button = document.querySelector("#start-camera");
    let click_button = document.querySelector("#click-photo");

    camera_button.onclick = function() {
        navigator.mediaDevices.getUserMedia({
        audio: false,
        video: true
        })
        .then(stream => {
        window.localStream = stream;
        video.srcObject = stream;
        })
        .catch((err) => {
        console.log(err);
        });
    };

    click_button.addEventListener('click', function() {
        canvas.getContext('2d').drawImage(video, 0, 0, canvas.width, canvas.height);
        let img_base64 = canvas.toDataURL().replace(/^data:image\/png;base64,/, "");
        //console.log(img_base64);

        const formData = new FormData();
        formData.append('img', img_base64);

        fetch('http://127.0.0.1:5000/student/receive_face', {
            method: 'POST',
            body: formData
        }).then(response => response.json()
        ).then(json => {
            console.log(json)
        });
    });

    window.setTimeout(function() {  // https://codepen.io/ath3nA/pen/NVOpeG
        $(".alert").fadeTo(500, 0).slideUp(500, function(){
            $(this).remove(); 
        });
    }, 2000);
</script>
{% endblock %}